<div *ngIf="partToUpdate == null">
  <fieldset>
    <form name="searchForm" (ngSubmit)="sf.form.valid && find()" #sf="ngForm" novalidate>
      <input class="regular" type="text" [(ngModel)]="value" placeholder="Search..." name="valueToFind" required/>
      <select class="regular" [(ngModel)]="field" name="fieldToFind" required>
        <option value="code">Part's Code</option>
        <option value="name">Name</option>
        <option value="type">Type</option>
        <option value="price">Price</option>
        <option value="annotation">Annotation</option>
      </select>
      <button class="regular" type="submit">Find</button>
      <button class="regular" (click)="cancel()">Cancel</button>
    </form>
  </fieldset>
  <fieldset>
    <form name="form" (ngSubmit)="f.form.valid && create(f)" #f="ngForm" novalidate>
      <input class="regular" type="text" [(ngModel)]="part.code" name="code" placeholder="Part's Code" required />
      <input class="regular" type="text" [(ngModel)]="part.name" name="name" placeholder="Name" required />
      <input class="regular" type="text" [(ngModel)]="part.type" name="type" placeholder="Type" required />
      <input class="regular" type="number" [(ngModel)]="part.price" name="price" placeholder="Price" required />
      <input class="regular" type="text" [(ngModel)]="part.annotation" name="annotation" placeholder="Annotation" required />
      <button class="regular">Create</button>
    </form>
  </fieldset>
</div>
<table border="1" cellspacing="0" cellpadding="5">
  <thead>
    <th>ID</th>
    <th>Part's Code</th>
    <th>Name</th>
    <th>Type</th>
    <th>Price</th>
    <th>Annotation</th>
    <th *ngIf="partToUpdate == null" colspan="2">Modification</th>
  </thead>
  <tbody>
    <tr *ngFor="let row of parts" align="center">
      <td>{{row.id}}</td>
      <td>
        <span *ngIf="partToUpdate == null || partToUpdate.id != row.id">{{row.code}}</span>
        <span *ngIf="partToUpdate != null && partToUpdate.id == row.id">
          <input class="tab" type="text" [(ngModel)]="partToUpdate.code" name="codeUpd" />
        </span>
      </td>
      <td>
        <span *ngIf="partToUpdate == null || partToUpdate.id != row.id">{{row.name}}</span>
        <span *ngIf="partToUpdate != null && partToUpdate.id == row.id">
          <input class="tab" type="text" [(ngModel)]="partToUpdate.name" name="nameUpd" />
        </span>
      </td>
      <td>
        <span *ngIf="partToUpdate == null || partToUpdate.id != row.id">{{row.type}}</span>
        <span *ngIf="partToUpdate != null && partToUpdate.id == row.id">
          <input class="tab" type="text" [(ngModel)]="partToUpdate.type" name="typeUpd" />
        </span>
      </td>
      <td>
        <span *ngIf="partToUpdate == null || partToUpdate.id != row.id">{{row.price}}</span>
        <span *ngIf="partToUpdate != null && partToUpdate.id == row.id">
          <input class="tab" type="number" [(ngModel)]="partToUpdate.price" name="priceUpd" />
        </span>
      </td>
      <td>
        <span *ngIf="partToUpdate == null || partToUpdate.id != row.id">{{row.annotation}}</span>
        <span *ngIf="partToUpdate != null && partToUpdate.id == row.id">
          <input class="tab" type="text" [(ngModel)]="partToUpdate.annotation" name="annotationUpd" />
        </span>
      </td>
      <td *ngIf="partToUpdate == null">
        <button class="tab" (click)="delete(row.id)">Delete</button>
      </td>
      <td *ngIf="partToUpdate == null">
        <button class="tab" (click)="update(row)">Edit</button>
      </td>
    </tr>
  </tbody>
</table>
<button *ngIf="partToUpdate != null" class="save" (click)="save()">Save</button>
