<div *ngIf="supplyToUpdate == null">
  <fieldset>
    <h2>Суммарный расход фирмы: {{income}}</h2>
    <input class="date" type="date" [(ngModel)]="firstDate" name="firstDateOfIncome" />
    <input *ngIf="isBetween" class="date" type="date" [(ngModel)]="secondDate" name="secondDateOfIncome" />
    <button class="regular" (click)="isBetween ? getIncomeBetween(firstDate, secondDate) : getIncome(firstDate)">Рассчитать</button><br>
    <input class="check" type="checkbox" name="checkSecondDate" [(ngModel)]="isBetween"/>
    <span class="check">Рассчет расхода в промежутке дат</span><br>
  </fieldset>
  <fieldset>
    <form name="searchForm" (ngSubmit)="sf.form.valid && find()" #sf="ngForm" novalidate>
      <input class="regular" type="text" [(ngModel)]="value" placeholder="Поиск..." name="valueToFind" required/>
      <button class="regular" type="submit">Найти</button>
      <button class="regular" (click)="cancel()">Отмена</button>
      <select class="regular" [(ngModel)]="field" name="fieldToFind" required>
        <option value="supplier">Поставщик</option>
        <option value="part">Запчасть</option>
        <option value="amount">Количество</option>
        <option value="date">Дата</option>
      </select>
    </form>
  </fieldset>
  <fieldset>
    <form name="createForm" (ngSubmit)="cf.form.valid && create(cf)" #cf="ngForm" novalidate>
      <select class="regular" [(ngModel)]="supply.supplier" name="supplier" required>
        <option *ngFor="let supplier of suppliers" [value]="supplier.id">{{supplier.name}}</option>
      </select>
      <select class="regular" [(ngModel)]="supply.part" name="part" required>
        <option *ngFor="let part of parts" [value]="part.id">{{part.name}}</option>
      </select>
      <button class="regular">Добавить</button>
      <input class="regular" type="number" [(ngModel)]="supply.amount" name="amount" placeholder="Количество" required />
      <input class="date" type="date" [(ngModel)]="supply.date" name="date" required />
    </form>
  </fieldset>
</div>
<table border="1" cellspacing="0" cellpadding="5">
  <thead>
    <th>ID</th>
    <th>Поставщик</th>
    <th>Запчасть</th>
    <th>Количество</th>
    <th>Дата</th>
    <th *ngIf="supplyToUpdate == null" colspan="2">Редактирование</th>
  </thead>
  <tbody>
    <tr *ngFor="let row of supplies" align="center">
      <td>{{row.id}}</td>
      <td>
        <span *ngIf="supplyToUpdate == null || supplyToUpdate.id != row.id">{{row.supplier.name}}</span>
        <span *ngIf="supplyToUpdate != null && supplyToUpdate.id == row.id">
          <select class="tab" [(ngModel)]="supplyToUpdate.supplier" name="supplierUpd">
            <option *ngFor="let sup of suppliers" [value]="sup.id">{{sup.name}}</option>
          </select>
        </span>
      </td>
      <td>
        <span *ngIf="supplyToUpdate == null || supplyToUpdate.id != row.id">{{row.part.name}}</span>
        <span *ngIf="supplyToUpdate != null && supplyToUpdate.id == row.id">
          <select class="tab" [(ngModel)]="supplyToUpdate.part" name="partUpd">
            <option *ngFor="let prt of parts" [value]="prt.id">{{prt.name}}</option>
          </select>
        </span>
      </td>
      <td>
        <span *ngIf="supplyToUpdate == null || supplyToUpdate.id != row.id">{{row.amount}}</span>
        <span *ngIf="supplyToUpdate != null && supplyToUpdate.id == row.id">
          <input class="tab" type="text" [(ngModel)]="supplyToUpdate.amount" name="amountUpd" />
        </span>
      </td>
      <td>
        <span *ngIf="supplyToUpdate == null || supplyToUpdate.id != row.id">{{row.date}}</span>
        <span *ngIf="supplyToUpdate != null && supplyToUpdate.id == row.id">
          <input class="tabdate" type="date" [(ngModel)]="supplyToUpdate.date" name="dateUpd" />
        </span>
      </td>
      <td *ngIf="supplyToUpdate == null">
        <button class="tab" (click)="delete(row.id)">Удалить</button>
      </td>
      <td *ngIf="supplyToUpdate == null">
        <button class="tab" (click)="update(row)">Изменить</button>
      </td>
    </tr>
  </tbody>
</table>
<button *ngIf="supplyToUpdate != null" class="save" (click)="save()">Сохранить</button>
