body {
  background: #ffdf95;
  padding: 5px 0 20px 20px;
}

h1 {
  color: #131751;
  font-size: 36pt;
}

a {
  width: 200px;
  color: black;
  padding: 10px;
  font-size: 14pt;
  text-align: center;
  font-weight: bold;
  background: #fff8dc;
  text-decoration: none;
  display: inline-block;
  outline: 2px #2f3a56 solid;
}

a:hover, a.selected {
  color: #fff8dc;
  background: #2f3a56;
}

table {
  background: #fff8dc;
  table-layout: fixed;
  word-wrap: break-word;
}

td, th {
  font-size: 12pt;
  max-width: 150px;
}

input.regular, select.regular {
  width: 150px;
  font-size: 11pt;
  border-radius: 10px;
  margin: 5px 15px 5px 0;
  text-align-last: center;
}

input.tab, select.tab {
  width: 150px;
  font-size: 11pt;
  font-style: italic;
  text-align-last: center;
}

button.regular {
  font-size: 10pt;
  font-weight: bold;
}

button.tab {
  border: 0;
  font-weight: bold;
  background: transparent;
}

button.tab:hover {
  color: red;
}

button.save {
  width: 100px;
  font-size: 11pt;
  font-weight: bold;
  padding: 5px 10px;
  margin: 20px 20px 0 0;
}
