body {
  background: #ffdf95;
}

h1 {
  font-size: 36pt;
  color: black;
}

a {
  text-align: center;
  color: black;
  font-size: 14pt;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  background: #fff8dc;
  outline: 2px #2f3a56 solid;
  padding: 10px;
  width: 200px;
}

a:hover, a.selected {
  color: #fff8dc;
  background: #2f3a56;
}

button.tab {
  background: transparent;
  border: 0;
  font-weight: bold;

}

button.tab:hover {
  color: red;
}

table {
  table-layout: fixed;
  word-wrap: break-word;
  background: #fff8dc;
}

th {
  font-size: 12pt;
}

td {
  font-size: 12pt;
  max-width: 300px;
}

input, select {
  font-size: 11pt;
  border-radius: 10px;
  margin: 5px 15px 5px 0;
  text-align-last: center;
  width: 200px;
}

button.regular {
  font-size: 10pt;
  font-weight: bold;
}
