<div *ngIf="supplierToUpdate == null">
  <fieldset>
    <form name="searchForm" (ngSubmit)="sf.form.valid && find()" #sf="ngForm" novalidate>
      <input class="regular" type="text" [(ngModel)]="value" placeholder="Поиск..." name="valueToFind" required/>
      <button class="regular" type="submit">Найти</button>
      <button class="regular" (click)="cancel()">Отмена</button>
      <select class="regular" [(ngModel)]="field" name="fieldToFind" required>
        <option value="code">Код поставщика</option>
        <option value="name">Название</option>
        <option value="address">Адрес</option>
        <option value="phone">Телефон</option>
      </select>
    </form>
  </fieldset>
  <fieldset>
    <form name="form" (ngSubmit)="f.form.valid && create(f)" #f="ngForm" novalidate>
      <input class="regular" type="text" [(ngModel)]="supplier.code" name="code" placeholder="Код поставщика" required />
      <input class="regular" type="text" [(ngModel)]="supplier.name" name="name" placeholder="Название" required />
      <button class="regular">Добавить</button>
      <input class="regular" type="text" [(ngModel)]="supplier.address" name="address" placeholder="Адрес" required />
      <input class="regular" type="text" [(ngModel)]="supplier.phone" name="phone" placeholder="Телефон" required />
    </form>
  </fieldset>
</div>
<table border="1" cellspacing="0" cellpadding="5">
  <thead>
    <th>ID</th>
    <th>Код поставщика</th>
    <th>Название</th>
    <th>Адрес</th>
    <th>Телефон</th>
    <th *ngIf="supplierToUpdate == null" colspan="2">Редактирование</th>
  </thead>
  <tbody>
    <tr *ngFor="let row of suppliers" align="center">
      <td>{{row.id}}</td>
      <td>
        <span *ngIf="supplierToUpdate == null || supplierToUpdate.id != row.id">{{row.code}}</span>
        <span *ngIf="supplierToUpdate != null && supplierToUpdate.id == row.id">
            <input class="tab" type="text" [(ngModel)]="supplierToUpdate.code" name="codeUpd" />
          </span>
      </td>
      <td>
        <span *ngIf="supplierToUpdate == null || supplierToUpdate.id != row.id">{{row.name}}</span>
        <span *ngIf="supplierToUpdate != null && supplierToUpdate.id == row.id">
            <input class="tab" type="text" [(ngModel)]="supplierToUpdate.name" name="nameUpd" />
          </span>
      </td>
      <td>
        <span *ngIf="supplierToUpdate == null || supplierToUpdate.id != row.id">{{row.address}}</span>
        <span *ngIf="supplierToUpdate != null && supplierToUpdate.id == row.id">
            <input class="tab" type="text" [(ngModel)]="supplierToUpdate.address" name="addressUpd" />
          </span>
      </td>
      <td>
        <span *ngIf="supplierToUpdate == null || supplierToUpdate.id != row.id">{{row.phone}}</span>
        <span *ngIf="supplierToUpdate != null && supplierToUpdate.id == row.id">
            <input class="tab" type="text" [(ngModel)]="supplierToUpdate.phone" name="phoneUpd" />
          </span>
      </td>
      <td *ngIf="supplierToUpdate == null">
        <button class="tab" (click)="delete(row.id)">Удалить</button>
      </td>
      <td *ngIf="supplierToUpdate == null">
        <button class="tab" (click)="update(row)">Изменить</button>
      </td>
    </tr>
  </tbody>
</table>
<button *ngIf="supplierToUpdate != null" class="save" (click)="save()">Сохранить</button>
